<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Innovaccer - HackerCamp 2019</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/mdb.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

        <script>
            function  initialise()
            {
                $('#loader').hide();
            }
            var gender, year, ID;
            function myFunction(value) {
                gender = value;
             }
            function func()
            {
                ID = document.getElementById('ID').value;
                year = document.getElementById('year').value;
                var dict=['{"id":"' + ID + '","year":"' + year + '","gender":"' + gender + '"}'];
                j = JSON.parse(dict);
                $('#loader').show();
                $("#tbody tr").remove();
                $.ajax({
                        type: "POST",
                        url: "http://127.0.0.1:5000/api/two/result",
                        contentType: "application/json",
                        data: JSON.stringify(j),
                        dataType: "json",
                        success: function(response) {
                            $('#loader').hide();
                            row = "";
                            for(var element in response)
                            {
                                row += "<tr><td>" + response[element] + "</td></tr>";
                            }
                            $('#tbody').append(row);
                        },
                        error: function(err) {
                            console.log(err);
                        }
                    });
            }
        </script>
        <style>
            table tbody tr td {
                  font-size: 17px;
                }
            #loader {
                    border: 16px solid #f3f3f3; /* Light grey */
                    border-top: 16px solid #3498db; /* Blue */
                    border-radius: 50%;
                    width: 120px;
                    height: 120px;
                    animation: spin 2s linear infinite;
                }
            @keyframes spin {
                    0% { transform: rotate(0deg); }
                    100% { transform: rotate(360deg); }
            }
        </style>
    </head>
    <body onload="initialise()">
        <br>
        <div class="container">
           <div class="card red text-center z-depth-2 light-version py-4 px-5">
        <h1 style="color:white">Medical Condition</h1>
        </div>
            <center>
                <br><br>
                <div class="md-form">
                    <input type="number" id="ID" class="form-control">
                    <label for="ID" class="">Symptom ID:</label>
                </div>
                <div class="md-form">
                    <input type="number" id="year" class="form-control">
                    <label for="year" class="">Year of Birth:</label>
                </div>
                <form class="form-group">
                    <fieldset class="form-group">
                        <input type="radio" name="gender" value="male" onclick="myFunction(this.value)"> Male &nbsp;&nbsp;&nbsp;
                        <input type="radio" name="gender" value="female" onclick="myFunction(this.value)"> Female<br>
                    </fieldset>
                </form>
                <button class="btn btn-success" value="Submit" onclick="func()">Submit</button><br><br><br>
                <h4>Medical Conditions</h4>
                <div id="loader"></div>
                <table style="width: 100%" class="table-striped">
                     <thead>
                          <tr>
                               <th>Result</th>
                           </tr>
                     </thead>
                    <tbody id="tbody">
                    </tbody>
                </table>
            </center>
        </div>
        <br>
        <!-- SCRIPTS -->
        <!-- JQuery -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
        <!-- Bootstrap tooltips -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
        <!-- Bootstrap core JavaScript -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <!-- MDB core JavaScript -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/mdb.min.js') }}"></script>
    </body>
</html>